<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.alternativemedia.caddosearchengine"
		versionCode="73"
		version   = "3.1.0">
		<name>Caddo Search Engine</name>
		<description>English to Hasinai (Caddo) language lookup tool.</description>
		<author href="http://www.alter-native-media.com" email="sheyahshe@gmail.com">Michael Sheyahshe</author>
<preference name="phonegap-version" value="cli-6.5.0" />
<preference name="orientation" value="default" />
<preference name="fullscreen" value="true" />
<preference name="target-device" value="universal" />
<preference name="webviewbounce" value="true" />
<preference name="prerendered-icon" value="false" />
<preference name="stay-in-webview" value="false" />
<preference name="ios-statusbarstyle" value="default" />
<preference name="detect-data-types" value="true" />
<preference name="exit-on-suspend" value="true" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="auto-hide-splash-screen" value="true" />
<preference name="FadeSplashScreen " value="true" />
<preference name="EnableViewportScale" value="false" />
<preference name="MediaPlaybackRequiresUserAction" value="false" />
<preference name="AllowInlineMediaPlayback" value="true" />
<preference name="BackupWebStorage" value="none" />
<preference name="TopActivityIndicator" value="white" />
<preference name="KeyboardDisplayRequiresUserAction" value="true" />
<preference name="KeyboardShrinksView " value="true" />
<preference name="HideKeyboardFormAccessoryBar" value="true" />
<preference name="SuppressesIncrementalRendering" value="false" />
<preference name="windows-identity-name" value="" />
<preference name="android-minSdkVersion" value="7" />
<preference name="android-targetSdkVersion" value="11" />
<preference name="android-installLocation" value="auto" />
<preference name="SplashScreenDelay" value="2000" />
<preference name="ErrorUrl" value="null" />
<preference name="BackgroundColor" value="0x000000" />
<preference name="DisallowOverscroll" value="true" />
<preference name="LoadingDialog" value="," />
<preference name="LoadUrlTimeoutValue" value="10000" />

<!--
        Define access to external domains.
        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.
        Otherwise, you can specify specific domains:
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

    <access origin="*"/>
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<plugin name="cordova-plugin-exitapp" version="1" />
		<platform name="ios">
		</platform>
		<platform name="android">
		<icon src="assets/img/CSEicons/cseIcon32x32.png" qualifier="ldpi" />
		<icon src="assets/img/CSEicons/cseIcon48x48.png" qualifier="mdpi" />
		<icon src="assets/img/CSEicons/cseIcon72x72.png" qualifier="hdpi" />
		<icon src="assets/img/CSEicons/cseIcon96x96.png" qualifier="xhdpi" />
		<icon src="assets/img/CSEicons/cseIcon144x144.png" qualifier="xxhdpi" />
		<icon src="assets/img/CSEicons/cseIcon192x192.png" qualifier="xxxhdpi" />
		</platform>
		<platform name="winphone">
		</platform>
		<icon src="icon.png" />
		<splash src="splash.png" />
</widget>